/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#glass-grey {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#2baeb3 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #2baeb3 45%, rgba(230,230,230,0) 50%);
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.scroll-pane {
   -fx-background:  #2baeb3;
}